@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

@layer base {
  .list {
    transition: all 0.5s ease-in-out;
  }

  .list-enter,
  .list-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  .list-enter-to {
    opacity: 1;
    transform: scale(1);
  }

  .input,
  .select {
    @apply shadow;
    @apply appearance-none;
    @apply border;
    @apply rounded;
    @apply w-full;
    @apply my-2;
    @apply py-3;
    @apply px-4;
    @apply text-gray-700;
    @apply leading-tight;
    &:focus {
      @apply outline-none;
    }
  }

  .select {
    @apply cursor-pointer;
  }

  .button {
    @apply inline-flex;
    @apply items-center;
    @apply my-2;
    @apply justify-center;
    @apply w-full;
    @apply border;
    @apply bg-indigo-500;
    @apply border-indigo-500;
    @apply text-white;
    @apply py-3;
    @apply px-4;
    @apply rounded;
    @apply select-none;
    @apply transition;
    @apply duration-500;
    @apply ease-in-out;
  }
}

@layer components {
  .card {
    @apply bg-white;
    @apply shadow-md;
    @apply rounded;
    @apply border;
    @apply duration-500;
    @apply ease-in-out;
    @apply p-6;
    @apply m-8;
    &:hover {
      @apply shadow-lg border-black;
    }
  }

  .minicard {
    @apply max-h-72;
    @apply overflow-y-auto;
  }

  .center {
    @apply grid;
    @apply items-center;
    @apply justify-center;
    @apply min-h-screen;
  }

  .header {
    @apply text-center;
    @apply mb-6;
    @apply text-lg;
    @apply font-normal;
    @apply lg:text-xl;
    @apply sm:px-16;
    @apply xl:px-48;
  }

  .alert {
    @apply bg-red-100;
    @apply border;
    @apply border-red-400;
    @apply text-red-700;
    @apply px-4;
    @apply py-3;
    @apply rounded;
    @apply relative;
  }

  .spinner {
    @apply h-5;
    @apply w-5;
    @apply animate-spin;
    @apply border-4;
    @apply rounded-full;
    @apply border-solid;
    @apply border-current;
    @apply border-r-transparent;
  }
}
